<a href="https://colab.research.google.com/github/Rishabh952008/BERT_QG/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data","Science","Mentorship","Program",sep="-",end="-")
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [2]:
# Write your code here
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 30
30.00 Celsius is: 86.00 Fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [3]:
# Write your code here
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
def swap(a,b):
    return b,a

Enter first number: 23
Enter second number: 44

In [4]:
swap(23,44)

(44, 23)

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [5]:
# Write your code here
c1x = int(input("Enter the x coordinate of the first point: "))
c1y = int(input("Enter the y coordinate of the first point: "))
c2x = int(input("Enter the x coordinate of the second point: "))
c2y = int(input("Enter the y coordinate of the second point: "))

distance = ((c1x-c2x)**2 + (c1y-c2y)**2)**0.5
print(distance)

Enter the x coordinate of the first point: 2
Enter the y coordinate of the first point: 0
Enter the x coordinate of the second point: 0
Enter the y coordinate of the second point: 2
2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [7]:
# Write your code here
p = float(input("Enter the principle amount: "))
r = float(input("Enter the rate of interest: "))
t = float(input("Enter the time period: "))
si = (p*r*t)/100
print("The simple interest is: ",si)

Enter the principle amount: 2
Enter the rate of interest: 3
Enter the time period: 4
The simple interest is:  0.24

3### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [8]:
# Write your code here
heads = int(input("Enter the number of heads: "))
legs = int(input("Enter the number of legs: "))
for i in range(heads+1):
    j = heads-i
    if (2*i)+(4*j)==legs:
        print("Number of chickens are: ",i)
        print("Number of dogs are: ",j)

Enter the number of heads: 4
Enter the number of legs: 12
Number of chickens are:  2
Number of dogs are:  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [9]:
# Write your code here
n = int(input("Enter the number: "))
sum = 0
for i in range(1,n+1):
    sum += i**2
print(sum)

Enter the number: 10
385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [10]:
# Write your code here
a = int(input("Enter the first term: "))
b = int(input("Enter the second term: "))
n = int(input("Enter the value of n: "))
d = b-a
nth = a + (n-1)*d
print(nth)

Enter the first term: 2
Enter the second term: 4
Enter the value of n: 10
20

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [11]:
# Write your code here
f1_num = int(input("Enter the numerator of the first fraction: "))
f1_den = int(input("Enter the denominator of the first fraction: "))
f2_num = int (input("Enter the numerator of the second fraction: "))
f2_den = int(input("Enter the denominator of the second fraction: "))
f1 = f1_num/f1_den
f2 = f2_num/f2_den
sum = f1+f2

Enter the numerator of the first fraction: 2
Enter the denominator of the first fraction: 3
Enter the numerator of the second fraction: 3
Enter the denominator of the second fraction: 3

In [12]:
print(sum)

1.6666666666666665

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [13]:
# Write your code here
H = int(input("Enter the height of the milk tank: "))
L = int(input("Enter the length of the milk tank: "))
B = int(input("Enter the breadth of the milk tank: "))

# dimensions of glass taking input

h = int(input("Enter the height of the glass: "))
r = int(input("Enter the radius of the glass: "))

print((H*L*B)/(h*r))

Enter the height of the milk tank: 20
Enter the length of the milk tank: 20
Enter the breadth of the milk tank: 20
Enter the height of the glass: 3
Enter the radius of the glass: 1
2666.6666666666665